:root {
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --main-font-size: 14px;
    --primary-font-color: #212121;
    --secondary-font-color: #ffffff;
    --description-font-color: #757575;
    --accent-color: #2196f3;
    --icon-color: #afb1b8;
    --background-color-primary: #ffffff;
    --background-color-secondary: #2f303a;
    --background-color-additional: #f5f4fa;
}