/* MODAL WINDOW */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000033;
    opacity: 1;
  
    @include transition(opacity);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-height: 581px;
    min-width: 528px;
    padding: 40px;
    text-align: center;
  
    background-color: var(--background-color-primary);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    @include transition(transform);
  
    .backdrop.is-hidden & {
      transform: translate(20%, -50%) scale(0.8);
    }
  }
  
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  
    @extend %flexcenter;
  
    width: 30px;
    height: 30px;
    cursor: pointer;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--secondary-font-color);
  }
  
  .modal-form__text {
    display: block;
    margin-bottom: 12px;
  
    @include font(20px, 700, 1.15, 0.03em);
  
    color: var(--primary-font-color);
  }
  
  .modal-form__group {
    position: relative;
    display: block;
    margin-bottom: 10px;
  }
  
  .modal-form__group--doublemargin {
    margin-bottom: 20px;
  }
  
  .modal-form__policy {
    position: relative;
  
    @extend %flexcenter;
    margin-bottom: 30px;
  }
  
  .modal-form__label {
    text-align: start;
    display: block;
    margin-bottom: 4px;
  
    @include font(12px, 400, 1.16, 0.01em);
  
    color: var(--description-font-color);
  }
  
  .modal-form__input {
    width: 100%;
    /* height: 40px; */
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    cursor: pointer;
  
    @include transition(border-color);
  
    &:focus {
      border-color: var(--accent-color);
    }
  }
  
  .input-textaria {
    display: block;
    min-height: 138px;
    padding: 12px 16px;
  
    resize: none;
  }
  
  .modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
  
    .modal-form__input:focus + & {
      fill: var(--accent-color);
    }
  
    @include transition(fill);
  }
  
  .close-btn__icon {
    @include transition(fill);
  
    .close-btn:hover & {
      fill: var(--accent-color);
    }
  }
  
  .modal-form__custom-checkbox {
    @extend %flexcenter;
  
    width: 16px;
    height: 15px;
    border-radius: 4px;
    outline: 2px solid #212121;
    outline-offset: -1px;
    margin-right: 7px;
  
    @include transition(background-color);
  
    .modal-form__checkbox:checked + & {
      outline: transparent;
      background-color: var(--accent-color);
    }
  }
  
  .modal-form__custom-checkbox-icon {
    opacity: 0;
    @include transition(opacity);
  
    .modal-form__checkbox:checked + .modal-form__custom-checkbox & {
      opacity: 1;
    }
  }
  
  .modal-form__policy-text {
    color: var(--description-font-color);
  }
  
  .modal-form__policy-link {
    color: var(--accent-color);
}