body {
    font-family: var(--main-font);
    font-size: var(--main-font-size);
  }
  
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  
    @include mq(desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .section__title {
    margin-bottom: 30px;
  
    @include font(28px, 700, 1.17, 0.03em);
    text-align: center;
    color: var(--primary-font-color);
  
    @include mq(desktop) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }