/* ----- HEADER ----- */

.header {
    position: relative;
    border-bottom: 1px solid #ececec;
  }
  
  .header__logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    @include mq(tablet) {
      margin-right: 88px;
    }
    @include mq(desktop) {
      margin-right: 93px;
    }
  }
  
  // .header__container {
  // жестко фиксируем высоту контейнера, чтоб не задавать верхние и нижние отступы
  // на остальные элементы, как например ссылки, зададим padding
  
  // height: 60px;
  // @include mq(tablet) {
  //   height: 80px;
  // }
  // }
  
  .header__container {
    position: relative;
  }
  
  .navigation__button {
    position: absolute;
    z-index: 2;
  
    top: 10px;
    right: 10px;
  
    display: inline-flex;
    @extend %flexcenter;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  
    @include mq(tablet) {
      display: none;
    }
  
    // &:hover .navigation__icon,
    // &:focus .navigation__icon {
    //   fill: var(--accent-color);
    // }
  }
  
  .navigation__icon {
    @include transition(fill);
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  
  .navigation__icon--cross {
    display: none;
  
    .navigation__button.is-open & {
      display: block;
    }
  }
  
  .navigation__button.is-open .navigation__icon--menu {
    display: none;
  }
  
  .navigation {
    // height: 100%; //  даем 100% от высоты контейнера, display flex, align items, чтоб выровнять все элементы хэдэра по горизонтальной оси
    // на хэдэр флекс повесить нельзя, так как он не является родителем элементов ul в хэдэре
    // width: 100%;
    // padding-top: 16px;
    // padding-bottom: 16px;
  
    @include mq(tablet) {
      display: flex;
      align-items: center;
      // padding-bottom: 26px;
      // padding-top: 26px;
    }
  }
  
  .navigation__menu {
    display: none;
    z-index: 1;
  
    @include mq(mobile-only) {
      position: fixed;
      top: 0;
      left: 0;
      padding: 48px 40px;
      width: 100%;
      height: 100%;
      background-color: #fff;
  
      &.is-open {
        display: flex;
        flex-direction: column;
      }
    }
  
    @include mq(tablet) {
      display: flex; // чтоб стали по горизонтали два ul -  navigations__list и header-contacts
      align-items: center;
      // justify-content: space-between;
    }
  }
  
  .navigation__list {
    @include mq(tablet) {
      display: flex;
      margin-right: 84px;
    }
    @include mq(desktop) {
      display: flex;
      margin-right: 305px;
    }
  }
  
  .navigation__link {
    color: var(--primary-font-color);
    @include font(40px, 500, 1.18, 0.02em);
    @include transition(color);
  
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  
    @include mq(tablet) {
      position: relative; // для позиционирования декоративных эффектов (подчеркивание)
      display: block; // для того, чтобы работали вертикальные паддинги
      @include font(14px, 500, 1.14, 0.02em);
      padding-top: 32px; // + чтоб область клика была больше
      padding-bottom: 32px;
    }
  }
  
  .navigation__link--current {
    color: var(--accent-color);
    @include mq(tablet) {
      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
  
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
        margin-bottom: -1px;
      }
    }
  }
  
  .navigation__item {
    @include mq(mobile-only) {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  
    @include mq(tablet) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  
  .header-contacts {
    @include mq(mobile-only) {
      display: flex;
      flex-direction: column-reverse;
      margin-top: auto;
      margin-bottom: 64px;
    }
  
    // @include mq(tablet) {
    //   margin-left: auto; не работает, так как не задана ширина у div.navigation__menu
    // }
  
    @include mq(desktop) {
      display: flex;
    }
  }
  
  .header-contacts__item {
    @include mq(mobile-only) {
      &:last-child {
        margin-bottom: 32px;
        font-size: 40px;
      }
    }
  
    @include mq(tablet-only) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  
    @include mq(desktop) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  
  .header-contacts__link {
    color: var(--description-font-color);
    @include transition(color);
  
    @include mq(mobile-only) {
      @include font(24px, 500, 1.18, 0.02em);
    }
  
    @include mq(tablet) {
      display: flex; // для того, чтобы выровнять по высоте иконку и текст ссылки
      align-items: center;
      height: 14px; // жестко задаем высоту всей строки согласно макета (текст и иконка одинаковой высоты)
  
      @include font(12px, 500, 1.17, 0.02em);
    }
  
    @include mq(desktop) {
      font-size: 14px;
      height: 16px;
    }
  }
  
  .header-contacts__link--fontsize {
    @include mq(mobile-only) {
      font-size: 40px;
      color: var(--accent-color);
    }
  }
  
  .header-contacts__icon {
    fill: currentColor; // унаследовать цвет у класса .header-contacts__link
    height: 100%; // для того, чтобы иконка заняла всю высоту строки
    @include mq(mobile-only) {
      display: none;
    }
    @include mq(tablet) {
      margin-right: 8px;
    }
    @include mq(desktop) {
      margin-right: 10px;
    }
  }
  
  .header-socials {
    display: flex;
    flex-wrap: wrap;
  
    @include mq(tablet) {
      display: none;
    }
  }
  
  .header-socials__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  
    &:not(:last-child).header-socials__item::after {
      content: "";
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
      margin-left: 10px;
    }
  }
  
  .header-socials__link {
    @include font(18px, 500, 1.22, 0.02em);
    color: var(--accent-color);
  }