.portfolio-nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  
    @include mq(tablet-only) {
      margin-bottom: 30px;
    }
  
    @include mq(desktop) {
      margin-bottom: 50px;
      justify-content: center;
    }
  }
  
  .portfolio-nav__item {
    @include mq(mobile-only) {
      &:nth-child(-n + 3) {
        margin-bottom: 15px;
      }
    }
  
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  
  .projects {
    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  .projects__link {
    @include mq(tablet-only) {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
  
  .projects__item {
    background: var(--background-color-primary);
  
    @include transition(box-shadow);
  
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  
    @include mq(not-desktop) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  
    @include mq(tablet) {
      margin-right: 30px;
    }
  
    @include mq(tablet-only) {
      flex-basis: calc((100% - 30px) / 2);
      margin-right: 30px;
  
      &:nth-child(2n),
      &:last-child {
        margin-right: 0;
      }
    }
  
    @include mq(desktop) {
      flex-basis: calc((100% - 60px) / 3);
  
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(-n + 6) {
        margin-bottom: 30px;
      }
    }
  }
  
  // изображения: фиксированная ширина 450px для мобильных устройств, для планшета и десктопа width 100%
  .projects__img {
    @include mq(mobile-only) {
      width: 450px;
    }
    @include mq(tablet) {
      width: 100%;
    }
  }
  
  .projects__thumb {
    position: relative;
    overflow: hidden;
  }
  
  .projects__overlay {
    position: absolute;
    left: 0;
    top: 0;
  
    @extend %flexcenter;
    width: 100%;
    height: 100%;
  
    @include font(18px, 400, 1.55, 0.03em);
    padding: 24px;
    color: var(--secondary-font-color);
  
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    @include transition(transform);
  
    .projects__item:hover &,
    .projects__item:focus & {
      transform: translateY(0);
    }
  }
  
  .projects__textgroup {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0;
  
    @include mq(tablet-only) {
      flex-grow: 1;
    }
  }
  
  .projects__name {
    margin-bottom: 4px;
    color: var(--primary-font-color);
  
    @include font(18px, 700, 1.89, 0.06em);
  }
  
  .projects__descr {
    color: var(--description-font-color);
    @include font(16px, 400, 1.88, 0.03em);
  }