.section--nopadding {
    padding-top: 0;
  }
  
  .what-we-do {
    display: flex;
  }
  
  .what-we-do__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .what-we-do__thumb {
    position: relative;
  }
  
  .what-we-do__text {
    position: absolute;
    height: 70px;
    bottom: 0;
    left: 0;
  
    @include font(14px, 700, 1.14, 0.03em);
    text-transform: uppercase;
  
    @extend %flexcenter;
    width: 100%;
    color: var(--secondary-font-color);
    background-color: rgba(47, 48, 58, 0.8);
}